<h1>Autos</h1>

<%- include("components/nav") %>
<!---->
<% console.log("Escribo algo"); console.log("Escribo algo");
autos.forEach((auto) => { %>
<div>
  <span><%= auto.marca %></span>
  <span>&ThickSpace; $</span>
  <span><%= auto.precio %></span>
</div>
<% }); %>
