<head>
  <!-- <style>
    * {
      color: #faa;
    }
  </style> -->
  <link rel="stylesheet" href="/assets/styles.css" />
</head>

<h1>
  Ejemplo de como ejecutar código desde un archivo en el server en el cliente
</h1>

<%- include("components/nav") %>

<button onclick="ejecutar()">Ejecutar</button>

<script src="/assets/main.js"></script>
<!-- <script>
  function editar() {
    console.log("FUNCIONAAA");
  }
</script>
-->
