<h1>Home</h1>

<a href="/">Hola mundo</a>
<a href="autos">Autos</a>

<% if(8 > 3) { %>
<p>8 es mayor a 3</p>
<% } else { %>
<p>8 es menor que 3</p>
<% } %>
<!--

<% %> // Ejecutar código
<%= %> // Mostrar variables

if(condicion){
    <p>Valor Si</p>
} else {
    <p>Valor No</p>
}

-->
