/* WEB */
#principal {
  display: grid;
  grid-template-columns: 200px auto 200px;
}

nav {
  background-color: #aaa;
  padding: 5px;
}

nav:hover::first-line {
  color: #0a0;
}

p:first-child {
  color: #fff;
}

p::first-letter {
  font-size: 2.5em;
}

main p:nth-child(2n) {
  color: #aaa;
}

/* main p:not(:nth-child(2n + 1)) {
  color: #aaa;
} */

/* MOBILE */

main {
  background-color: #a00;
  padding: 5px;
  font-size: 2em;
}

aside {
  background-color: #0a0;
  padding: 5px;
}

input:not(:valid) {
  color: #a00;
  border: #a00 3px solid;
}

input:read-only {
  height: 30px;
}

input:checked {
  margin: 10px;
}

button:disabled {
  font-style: italic;
}

/* todos los inputs de tipo email */
input[type="email"]:valid {
  color: #0a0;
}

/* Todos los parrafos hijos de aside que sean un hijo par y que no sesan el seguno hijo */
aside p:nth-child(2n + 4) {
  background-color: #000;
}

*::selection {
  color: #fff;
  background-color: #f00;
}

a::before {
  content: "♥";
}

p::backdrop {
  background-color: #000;
}

input:focus {
  color: blue;
}

@media screen and (max-width: 768px) and (width > 480px) {
  #principal {
    grid-template-columns: auto 200px;
  }

  nav {
    grid-column: 1/3;
  }
}

@media screen and (width <= 480px) {
  #principal {
    grid-template-columns: auto;
  }

  nav {
    grid-column: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .fondo {
    background-color: #000;
    color: #fff;
  }
}
